

<ion-content>

  <div>
    <div class="a">

        <div>
          <ion-label class="email">Email</ion-label>
          <ion-input placeholder="Digite o seu email"></ion-input>
        </div>

        <div>
          <ion-label class="Password">Senha</ion-label>
          <ion-input placeholder="Digite a sua Senha"></ion-input>
        </div>


      <p>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label> Manter Conectado</ion-label>
      </p>

      <div>
        <div class="bot" >
          <ion-button  shape="round" color="purple" size="small">Entrar</ion-button>
        </div>

        <div class="bot">
          <ion-button  routerLink="/registro" shape="round" size="small" color="purple">Registrar</ion-button>
        </div>

        <div class="bot">
          <ion-button  shape="round" size="small" color="purple">Esqueceu Senha</ion-button>
        </div>

    </div>

</div>


  </div>

  </ion-content>
