

<ion-content>

  <div>
    <div class="a">

      <div>
        <div>
          <ion-label class="nome">Nome</ion-label>
          <ion-input placeholder="Digite o seu nome"></ion-input>
        </div>

        <div>
          <ion-label class="cpf">CPF</ion-label>
          <ion-input placeholder="Digite o seu CPF"></ion-input>
        </div>

        <div>
          <ion-label class="email">Email</ion-label>
          <ion-input placeholder="Digite o seu Email"></ion-input>
        </div>

        <div>
          <ion-label class="senha">Senha</ion-label>
          <ion-input type="Password" placeholder="Senha do Usuário"></ion-input>
        </div>

        <div>
          <ion-label class="csenha">Confirmar Senha</ion-label>
          <ion-input type="Password" placeholder="Confirmar Senha do Usuário"></ion-input>
        </div>
      </div>


      <p>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label> Manter Conectado</ion-label>
      </p>

      <div class="bot">
        <div>
          <ion-button  shape="round" color="purple" routerLink="/login" size="small">Entrar</ion-button>
        </div>

        <div>
          <ion-button  routerLink="/registro" shape="round" size="small" color="purple">Registrar</ion-button>
        </div>

        <div>
          <ion-button  shape="round" size="small" color="purple">Esqueceu Senha</ion-button>
        </div>

    </div>

</div>


  </div>

  </ion-content>
